/*************** star rating ***************/
.rating {
    display: inline-block; text-align: center;width: 100%!important;color:var(--theme-color-2);}
    .rating a {
      font-size: 1.4rem;
      padding: 0 1px;
      cursor: pointer;
      text-decoration: none; }
/*************** star rating ***************/


#main-title {
    font-size: 1.4rem;
}
//  LEFT
.infoLeft__img {
    background: var(--foreground-color);
    padding: 1rem;
}
.infoLeft__activities {
    margin: 1.5rem 0;

    & ul {
        list-style:none;
        margin: 0;
        padding: 0;
    }

    & .bookmark {
        // background-color: #282B30;
        // border-color: #282B30;
        border-radius: 0.5rem;
        text-align: center;
        padding: 0.9rem;
        

        &--subscribed {
            color: var(--button-text-color) !important;
            background-color: darkness(--theme-color-1, 8%);
            border-color: darkness(--theme-color-1, 8%);
            transition: 0.5s ease-in-out;

            .bookmark__text {
                &::after {
                    content: "Subscribed";
                }
            }
        }

        &__text {
            margin-left: 0.3rem;

            &::after {
                content: "Subscribe";
            }
        }
    }
}
.infoLeft__info {
    background: var(--foreground-color);
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    
    & .box {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;

        &__name {
            font-weight: 500;
        }
        &__value {
            font-weight: 100;
            font-size: 0.8rem;

            &--bold {
                letter-spacing: 0.2em;
            }
        }
    }
}
.group {
    display: flex;
    background: var(--foreground-color);
    margin-top: 1rem;

    &__item {
        display: block;
        padding: 1rem 0rem;
        width: 40%;
        text-align: center;
        margin-top: 0.7rem;


        span {
            margin-left: 5px;
        }
        &.fas {
            color: var(--theme-color-1);
            margin-top: 3px;
        }
        
        &:nth-child(2) {
            width: 60%;
            margin-left: auto;
            position: relative;
            top: 2px;
        }
    }
    
    .rate {
        margin-left: 0.5rem;
        position: relative;
        top: -1px;
        font-weight: unset;
        font-family: 'hind_m';
    }

    .bar {
        width: 2px;
        height: 21px;
        background: var(--button-text-unimportant);
        vertical-align: middle;
        margin: 1rem;
    }

    
}




//  RIGHT 


.chapterRight {
    & .btnbox {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        &__firstChapter, &__lastChapter {
            display: inline-flex;
            flex-direction: column;
            width: 48%;
            margin: 0px 0.5rem;
            border-radius: 0.5rem;
        }
    }

    & .listbox {
        max-height: 375px;
        overflow: auto;
        margin: 1.75rem;
        padding: 0 1.5rem 0 0;

        &__chapterbtn {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.5rem 1rem;
            margin-bottom: 0.6em;
            border: 2px solid var(--foreground-color-2);

            & .chaptertext {
                font-size: 1rem;
            }
            & .date {
                font-size: 0.9rem;
            }
        }

        &__chapterbtn:hover, &__chapterbtn:focus{
            background: var(--foreground-color-2);
            border: 2px solid var(--foreground-color-2);
            color: var(--theme-color-3);
        }
    }
}

// Codepen HeartSwitch
.heart__switch {
    --duration: .45s;
    --stroke: #D1D6EE;
    --stroke-active: #ec4472;
    --fill: #fff;
    --fill-active: #ec638e;
    --shadow: #{rgba(#00093D, .55)};
    cursor: pointer;
    position: relative;
    transform: scale(var(--s, 1)) translateZ(0);
    transition: transform .2s;
    -webkit-tap-highlight-color: transparent;
    &:active {
        --s: .95;
    }
    
}
.heart-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    outline: none;
    border: none;
    pointer-events: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 3px 12px 0 var(--shadow);
    & + svg {
        width: 36px;
        height: 25px;
        fill: var(--fill);
        stroke: var(--stroke);
        stroke-width: 1px;
        stroke-linejoin: round;
        display: block;
        transition: stroke var(--duration), fill var(--duration);
    }
    &:not(:checked) {
        animation: uncheck var(--duration) linear forwards;
    }
    &:checked {
        animation: check var(--duration) linear forwards;
        & + svg {
            --fill: var(--fill-active);
            --stroke: var(--stroke-active);
        }
    }
}
@keyframes uncheck {
    0% {
        transform: rotate(-30deg) translateX(13.5px) translateY(8px);
    }
    50% {
        transform: rotate(30deg) translateX(9px);
    }
    75% {
        transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes check {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
    }
    50% {
        transform: rotate(30deg) translateX(9px);
    }
    100% {
        transform: rotate(-30deg) translateX(13.5px) translateY(8px);
    }
}

    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
    .twitter {
        position: fixed;
        display: block;
        right: 64px;
        bottom: 14px;
        svg {
            width: 32px;
            height: 32px;
            fill: #1da1f2;
        }
    }

//Querries
@media  (max-width: 992px) {
    #resize {
        padding: 2rem;
    }

    .col-left {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .infoLeft__title  { display: none; }
} 
@media (max-width: 768px) {
   
    #rightbox {
        margin: 0;
        padding: 0;
    }
    
    #resize {
        position: absolute;
        top: 188px;
        left: 0;
        right: 0;

        .breadcrumb-container {
            display: none;
        }
        .separator {
            display: none;
        }
    }
    .cover {
        position: relative;
        width: 100%;
        height: 280px;
        img {
            width: 100%;
            height: 280px;
            object-position: center;
        }
    }
    
    .infoLeft__img {
        margin: 0 auto;
        padding: 0.4rem;
    }
    .infoLeft__title {
        text-align: center;
        margin: 1.1rem 0;
        color: var(--button-text-color);
    }
    .infoLeft__activities {
        margin: 1.5rem 0;

        & .heart {
            width: 100%;
            justify-content: space-between;
        }

        & .heart:nth-child(2) {display: none;}

        & .bookmark {
            padding: 0.6rem;
        }
    }
    .infoRight__body {

        #main-title { display: none; }
        #sub-title { display: none; }
    }
}

