

<body>
    <div class="nav-bar">
        <div class="nav-bar__top" id="nav-bar__top">
            <a href="#">Truyện đã theo dõi</a>
            <a href="#">Truyện vừa xem</a>
        </div>
        <div class="nav-bar__bottom" id="nav-bar__bottom">
            <a class="main-logo" href="index.html">
                LOGO
            </a>
            <form class="nav-bar__search-container">
                <button class="search-icon-box" type="submit">
                    <i class="fal fa-search search-icon"></i>
                </button>
                <div class="search-box">
                    <input class="search-box__input" type="text" placeholder="tim kiem tên truyện, tác giả">
                </div>

            </form>
            <div class="nav-bar__bottom--category">
                <div class="see-more-category">
                    <span class="see-more-category-hover">Thể loại <i class="fal fa-caret-down"></i></span>
                    <div class="see-more-container">
                        <div class="row see-more-container-small">
                            <div class="col-12 see-more-category-all-link">
                                <a href="#">Tất cả thể loại</a>
                            </div>
                            <div class="col" style="text-align: center;">
                                <a href="#" class="see-more-category-link">Action</a><br>
                                <a href="#" class="see-more-category-link">Adult</a><br>
                                <a href="#" class="see-more-category-link">Adventure</a> <br>
                                <a href="#" class="see-more-category-link">Chuyển Sinh</a><br>
                                <a href="#" class="see-more-category-link">Comedy</a><br>
                                <a href="#" class="see-more-category-link">Cooking</a><br>
                                <a href="#" class="see-more-category-link">Cổ Đại</a><br>
                                
                                
                            </div>
                            <div class="col" style="text-align: center;">
                                <a href="#" class="see-more-category-link">Doujinshi</a><br>
                                <a href="#" class="see-more-category-link">Drama</a><br>
                                <a href="#" class="see-more-category-link">Đam Mỹ</a><br>
                                <a href="#" class="see-more-category-link">Ecchi</a><br>
                                <a href="#" class="see-more-category-link">Fantasy</a><br>
                                <a href="#" class="see-more-category-link">Gender Bender</a><br>
                                <a href="#" class="see-more-category-link">Harem</a><br>
                                
                                
                            </div>
                            <div class="col" style="text-align: center;">
                                <a href="#" class="see-more-category-link">Horror</a><br>
                                <a href="#" class="see-more-category-link">Historical</a><br>
                                <a href="#" class="see-more-category-link">Josei</a><br>
                                <a href="#" class="see-more-category-link">Live Action</a><br>
                                <a href="#" class="see-more-category-link">Trinh Thám</a><br>
                                <a href="#" class="see-more-category-link">Manhwa</a><br>
                                <a href="#" class="see-more-category-link">Manhua</a><br>
                                
                                
                            </div>
                            <div class="col" style="text-align: center;">
                                <a href="#" class="see-more-category-link">Manga</a><br>
                                <a href="#" class="see-more-category-link">Martial Arts</a><br>
                                <a href="#" class="see-more-category-link">Mature</a><br>
                                <a href="#" class="see-more-category-link">Mecha</a><br>
                                <a href="#" class="see-more-category-link">Mystery</a><br>
                                <a href="#" class="see-more-category-link">Ngôn Tình</a><br>
                                <a href="#" class="see-more-category-link">One Shot</a><br>
                                
                            </div>
                            <div class="col" style="text-align: center;">
                                <a href="#" class="see-more-category-link">Psychological</a><br>
                                <a href="#" class="see-more-category-link">Romance</a><br>
                                <a href="#" class="see-more-category-link">School Life</a><br>
                                <a href="#" class="see-more-category-link">Sci-fi</a><br>
                                <a href="#" class="see-more-category-link">Seinen</a><br>
                                <a href="#" class="see-more-category-link">Shoujo</a><br>
                                <a href="#" class="see-more-category-link">Shoujo Ai</a><br>
                                
                            </div>
                            <div class="col" style="text-align: center;">
                                <a href="#" class="see-more-category-link">Shounen</a><br>
                                <a href="#" class="see-more-category-link">Shounen Ai</a><br>
                                <a href="#" class="see-more-category-link">Slice of Life</a><br>
                                <a href="#" class="see-more-category-link">Smut</a><br>
                                <a href="#" class="see-more-category-link">Soft Yaoi</a><br>
                                <a href="#" class="see-more-category-link">Soft Yuri</a><br>
                                <a href="#" class="see-more-category-link">Sports</a><br>
                                
                            </div>
                            <div class="col" style="text-align: center;">
                                <a href="#" class="see-more-category-link">Supernatural</a><br>
                                <a href="#" class="see-more-category-link">Thiếu Nhi</a><br>
                                <a href="#" class="see-more-category-link">Tragedy</a><br>
                                <a href="#" class="see-more-category-link">Truyện Scan</a><br>
                                <a href="#" class="see-more-category-link">Truyện Màu</a><br>
                                <a href="#" class="see-more-category-link">Webtoon</a><br>
                                <a href="#" class="see-more-category-link">Xuyên Không</a><br>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="nav-bar__user-box">
                <div class="user_logged_in">
                    <img class="user_avatar" src="124153613_714568572486006_7702976515048217928_n.jpg" alt="avatar">
                    <span class="user_name">Hậu Trần</span>
                    <i class="fal fa-caret-down user-arrow-down"></i>
                </div>
                <ul class="nav-bar__user-box--menu">
                    <li class="user-box--menu-item"><a style="color: black; padding: 1rem 1rem; display: block;"
                            href="#">asdasd</a></li>
                    <li class="user-box--menu-item"><a style="color: black; padding: 1rem 1rem; display: block;"
                            href="#">asdasd</a></li>
                    <li class="user-box--menu-item"><a style="color: black; padding: 1rem 1rem; display: block;"
                            href="#">asdasd</a></li>
                </ul>
            </div>


        </div>


    </div>
    <div class="row main-container">
        <div class="col-12 hot-today-container">
            <div class="hot-today-container__title">
                <h1>Truyện Tranh </h1>
                <h2>Đề Cử</h2>
            </div>

            <a href="all-comics.html" class="hot-today-container__see-more">Xem tất cả</a>

        </div>
        <a href="comic-detail.html" class="col-2 hot-comic">
            <div class="hot-comic__img--box">
                <img class="hot-comic__img" src="/img/original.jpg" alt="">
                <div class="hot-comic__hide-info">
                    <div class="hot-comic__hide-info--view-rate-box">
                        <span class="hot-comic-view"><i class="fad fa-eye hot-comic-view-icon"></i> 100,235</span>
                        <span class="hot-comic-rate"><i class="fal fa-thumbs-up hot-comic-rate-icon"></i> 67%</span>
                    </div>
                    <p class="hot-comic__hide-info--description">
                        day la 1 cau chuyen ve 1 th an cuc bi ia chay cua 1 th main co ten hau
                        cau chuyen ke ve cuoc phieu luu cua anh ta tren duong tim kiem cho minh
                        1 cai toilet va moi chuyen se ko co j dang noi neu nhu anh ta da tim dc toilet
                        nhung ko anh ta buoc phai ia ngoai duong
                    </p>
                    <div class="hide-info__category">
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                    </div>
                </div>
                
            </div>
            <div class="hot-comic__info">
                <h3 class="hot-comic__title">Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                <div class="hot-comic__newest--chapter">
                    <span class="hot-comic__newest--chapter-title">Chapter 25</span>
                    <span class="hot-comic__newest--chapter-update">2 phút trước</span>
                </div>
            </div>
            
        </a>
        <a href="comic-detail.html" class="col-2 hot-comic">
            <div class="hot-comic__img--box">
                <img class="hot-comic__img" src="/img/original.jpg" alt="">
                <div class="hot-comic__hide-info">
                    <div class="hot-comic__hide-info--view-rate-box">
                        <span class="hot-comic-view"><i class="fad fa-eye hot-comic-view-icon"></i> 100,235</span>
                        <span class="hot-comic-rate"><i class="fal fa-thumbs-up hot-comic-rate-icon"></i> 67%</span>
                    </div>
                    <p class="hot-comic__hide-info--description">
                        day la 1 cau chuyen ve 1 th an cuc bi ia chay cua 1 th main co ten hau
                        cau chuyen ke ve cuoc phieu luu cua anh ta tren duong tim kiem cho minh
                        1 cai toilet va moi chuyen se ko co j dang noi neu nhu anh ta da tim dc toilet
                        nhung ko anh ta buoc phai ia ngoai duong
                    </p>
                    <div class="hide-info__category">
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                    </div>
                </div>
                
            </div>
            <div class="hot-comic__info">
                <h3 class="hot-comic__title">Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                <div class="hot-comic__newest--chapter">
                    <span class="hot-comic__newest--chapter-title">Chapter 25</span>
                    <span class="hot-comic__newest--chapter-update">2 phút trước</span>
                </div>
            </div>
            
        </a>
        <a href="comic-detail.html" class="col-2 hot-comic">
            <div class="hot-comic__img--box">
                <img class="hot-comic__img" src="/img/original.jpg" alt="">
                <div class="hot-comic__hide-info">
                    <div class="hot-comic__hide-info--view-rate-box">
                        <span class="hot-comic-view"><i class="fad fa-eye hot-comic-view-icon"></i> 100,235</span>
                        <span class="hot-comic-rate"><i class="fal fa-thumbs-up hot-comic-rate-icon"></i> 67%</span>
                    </div>
                    <p class="hot-comic__hide-info--description">
                        day la 1 cau chuyen ve 1 th an cuc bi ia chay cua 1 th main co ten hau
                        cau chuyen ke ve cuoc phieu luu cua anh ta tren duong tim kiem cho minh
                        1 cai toilet va moi chuyen se ko co j dang noi neu nhu anh ta da tim dc toilet
                        nhung ko anh ta buoc phai ia ngoai duong
                    </p>
                    <div class="hide-info__category">
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                    </div>
                </div>
                
            </div>
            <div class="hot-comic__info">
                <h3 class="hot-comic__title">Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                <div class="hot-comic__newest--chapter">
                    <span class="hot-comic__newest--chapter-title">Chapter 25</span>
                    <span class="hot-comic__newest--chapter-update">2 phút trước</span>
                </div>
            </div>
            
        </a>
        <a href="comic-detail.html" class="col-2 hot-comic">
            <div class="hot-comic__img--box">
                <img class="hot-comic__img" src="/img/original.jpg" alt="">
                <div class="hot-comic__hide-info">
                    <div class="hot-comic__hide-info--view-rate-box">
                        <span class="hot-comic-view"><i class="fad fa-eye hot-comic-view-icon"></i> 100,235</span>
                        <span class="hot-comic-rate"><i class="fal fa-thumbs-up hot-comic-rate-icon"></i> 67%</span>
                    </div>
                    <p class="hot-comic__hide-info--description">
                        day la 1 cau chuyen ve 1 th an cuc bi ia chay cua 1 th main co ten hau
                        cau chuyen ke ve cuoc phieu luu cua anh ta tren duong tim kiem cho minh
                        1 cai toilet va moi chuyen se ko co j dang noi neu nhu anh ta da tim dc toilet
                        nhung ko anh ta buoc phai ia ngoai duong
                    </p>
                    <div class="hide-info__category">
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                    </div>
                </div>
                
            </div>
            <div class="hot-comic__info">
                <h3 class="hot-comic__title">Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                <div class="hot-comic__newest--chapter">
                    <span class="hot-comic__newest--chapter-title">Chapter 25</span>
                    <span class="hot-comic__newest--chapter-update">2 phút trước</span>
                </div>
            </div>
            
        </a>
        <a href="comic-detail.html" class="col-2 hot-comic">
            <div class="hot-comic__img--box">
                <img class="hot-comic__img" src="/img/original.jpg" alt="">
                <div class="hot-comic__hide-info">
                    <div class="hot-comic__hide-info--view-rate-box">
                        <span class="hot-comic-view"><i class="fad fa-eye hot-comic-view-icon"></i> 100,235</span>
                        <span class="hot-comic-rate"><i class="fal fa-thumbs-up hot-comic-rate-icon"></i> 67%</span>
                    </div>
                    <p class="hot-comic__hide-info--description">
                        day la 1 cau chuyen ve 1 th an cuc bi ia chay cua 1 th main co ten hau
                        cau chuyen ke ve cuoc phieu luu cua anh ta tren duong tim kiem cho minh
                        1 cai toilet va moi chuyen se ko co j dang noi neu nhu anh ta da tim dc toilet
                        nhung ko anh ta buoc phai ia ngoai duong
                    </p>
                    <div class="hide-info__category">
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                    </div>
                </div>
                
            </div>
            <div class="hot-comic__info">
                <h3 class="hot-comic__title">Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                <div class="hot-comic__newest--chapter">
                    <span class="hot-comic__newest--chapter-title">Chapter 25</span>
                    <span class="hot-comic__newest--chapter-update">2 phút trước</span>
                </div>
            </div>
            
        </a>
        <a href="comic-detail.html" class="col-2 hot-comic">
            <div class="hot-comic__img--box">
                <img class="hot-comic__img" src="/img/original.jpg" alt="">
                <div class="hot-comic__hide-info">
                    <div class="hot-comic__hide-info--view-rate-box">
                        <span class="hot-comic-view"><i class="fad fa-eye hot-comic-view-icon"></i> 100,235</span>
                        <span class="hot-comic-rate"><i class="fal fa-thumbs-up hot-comic-rate-icon"></i> 67%</span>
                    </div>
                    <p class="hot-comic__hide-info--description">
                        day la 1 cau chuyen ve 1 th an cuc bi ia chay cua 1 th main co ten hau
                        cau chuyen ke ve cuoc phieu luu cua anh ta tren duong tim kiem cho minh
                        1 cai toilet va moi chuyen se ko co j dang noi neu nhu anh ta da tim dc toilet
                        nhung ko anh ta buoc phai ia ngoai duong
                    </p>
                    <div class="hide-info__category">
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                        <span>Manga</span>
                        <span>Action</span>
                        <span>Adventure</span>
                        <span>Ecchi</span>
                        <span>Adult</span>
                        <span>Manga</span>
                    </div>
                </div>
                
            </div>
            <div class="hot-comic__info">
                <h3 class="hot-comic__title">Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                <div class="hot-comic__newest--chapter">
                    <span class="hot-comic__newest--chapter-title">Chapter 25</span>
                    <span class="hot-comic__newest--chapter-update">2 phút trước</span>
                </div>
            </div>
            
        </a>
        <div class="row newest-followed-container">
            <div class="col-8 newest-container">
                

                <div class="col-12 newest-container__comic">
                    <div class="row">
                        <div class="col-12 newest-container__title">
                            <a href="#">Mới nhất</a>
                            <a href="#">Manga</a>
                            <a href="#">Manhua</a>
                            <a href="#">Manhwa</a>
                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>
                        <div class="col-3 newest-comic">
                            <div class="row">
                                <a href="#" class="col-12 newest-comic__img--box">
                                    <img class="newest-comic__img" src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt="">

                                </a>

                                <div class="newest-comic__info col-12">
                                    <a href="#" class="newest-comic__title">
                                        <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                    </a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    <a href="#" class="newest-comic__chapter"><span>Chapter 25</span> <span>3 phút trước</span></a>
                                    
                                    <!-- <div class="newest-comic__view-rate--box">
                                        <span class="newest-comic__view"><i class="fad fa-eye"></i> 10,234,545</span>
                                        <span class="newest-comic__rate"><i class="fal fa-thumbs-up"></i> 56%</span>
                                    </div> -->


                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>

            <div class="col-4 followed-container">
                <div class="col-12 watched-container__title">
                    <h2>Truyện vừa xem</h2>
                    <a href="all-comics.html">Xem tất cả</a>
                </div>
                <div class="col-12" style="text-align: center;">
                    <input type="checkbox" id="see-more-less__checkbox2">
                    <label for="see-more-less__checkbox2" class="see-more-less__label2 show-less-more-label-hover" ><i class="fal fa-angle-double-up"></i>
                     <span class="show-less-label">Ẩn bớt</span><span class="show-more-label">Hiện nhiều</span></label>
                </div>
                <div class="watched-comic-container">
                    <div class="col-12 watched-comic">
                        <div class="row">
                            <a href="#" class="col-4 watched-comic__img--box"><img class="watched-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 watched-comic__info">
                                <a href="#" class="watched-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <div class="watched-comic__view-follow--box">
                                    <span class="watched-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="watched-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="col-12 watched-comic">
                        <div class="row">
                            <a href="#" class="col-4 watched-comic__img--box"><img class="watched-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 watched-comic__info">
                                <a href="#" class="watched-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <div class="watched-comic__view-follow--box">
                                    <span class="watched-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="watched-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-12 watched-comic">
                        <div class="row">
                            <a href="#" class="col-4 watched-comic__img--box"><img class="watched-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 watched-comic__info">
                                <a href="#" class="watched-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <div class="watched-comic__view-follow--box">
                                    <span class="watched-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="watched-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 watched-comic">
                        <div class="row">
                            <a href="#" class="col-4 watched-comic__img--box"><img class="watched-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 watched-comic__info">
                                <a href="#" class="watched-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <div class="watched-comic__view-follow--box">
                                    <span class="watched-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="watched-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 watched-comic">
                        <div class="row">
                            <a href="#" class="col-4 watched-comic__img--box"><img class="watched-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 watched-comic__info">
                                <a href="#" class="watched-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="watched-comic__chapter--link"><span
                                        class="watched-comic__chapter">Chapter 25</span> <span
                                        class="watched-comic__chapter--update">2 phút trước</span></a>
                                <div class="watched-comic__view-follow--box">
                                    <span class="watched-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="watched-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 followed-container__title">
                    <h2>Truyện đã theo dõi</h2>
                    <a href="all-comics.html">Xem tất cả</a>
                </div>
                <div class="col-12" style="text-align: center;">
                    <input type="checkbox" id="see-more-less__checkbox">
                    <label for="see-more-less__checkbox" class="see-more-less__label show-less-more-label-hover" ><i class="fal fa-angle-double-up"></i>
                     <span class="show-less-label">Ẩn bớt</span><span class="show-more-label">Hiện nhiều</span></label>
                </div>
                <div class="followed-comic-container">
                    <div class="col-12 followed-comic">
                        <div class="row">
                            <a href="#" class="col-4 followed-comic__img--box"><img class="followed-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 followed-comic__info">
                                <a href="#" class="followed-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <div class="followed-comic__view-follow--box">
                                    <span class="followed-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="followed-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="col-12 followed-comic">
                        <div class="row">
                            <a href="#" class="col-4 followed-comic__img--box"><img class="followed-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 followed-comic__info">
                                <a href="#" class="followed-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <div class="followed-comic__view-follow--box">
                                    <span class="followed-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="followed-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-12 followed-comic">
                        <div class="row">
                            <a href="#" class="col-4 followed-comic__img--box"><img class="followed-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 followed-comic__info">
                                <a href="#" class="followed-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <div class="followed-comic__view-follow--box">
                                    <span class="followed-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="followed-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 followed-comic">
                        <div class="row">
                            <a href="#" class="col-4 followed-comic__img--box"><img class="followed-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 followed-comic__info">
                                <a href="#" class="followed-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <div class="followed-comic__view-follow--box">
                                    <span class="followed-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="followed-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 followed-comic">
                        <div class="row">
                            <a href="#" class="col-4 followed-comic__img--box"><img class="followed-comic__img"
                                    src="/img/3f346e910be0af66a7ceb00a09c44917.jpg" alt=""></a>
                            <div class="col-8 followed-comic__info">
                                <a href="#" class="followed-comic__title">
                                    <h3>Đây Là Tên Truyện Dài Thoòng Loòng Ngoằn Nghèo để làm 3 chấm</h3>
                                </a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <a href="#" class="followed-comic__chapter--link"><span
                                        class="followed-comic__chapter">Chapter 25</span> <span
                                        class="followed-comic__chapter--update">2 phút trước</span></a>
                                <div class="followed-comic__view-follow--box">
                                    <span class="followed-comic__view"><i class="fad fa-eye"></i> 10,234</span>
                                    <a href="#" class="followed-comic__follow">
                                        Bỏ theo dõi
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    {{!-- script --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
    {{!-- End script --}}
</body>
