
{{#each comments.commentArr}}
<li class="comments-replies__item [ mt-4 mb-4 ]" id="comments-replies-{{this._id}}">

    <comment class="item item--comment">
    
        {{> inline/comments-replies-body user=../user comment_id=this._id comment=true}}

    </comment>

</li>
{{/each}}