
{{#if withUIContainer}}
    <tools-header id="theader" class="theader pb-4">
        <div itemprop="userInteractionCount" class="title">
            Comments
            <span class="title__counter text-small"> ({{#if comments.maxComment}} {{comments.maxComment}} {{else}} 0
                {{/if}}) </span>
        </div>
        <div class="sort-menu">
            <div class="sort-text dropdown">
                <a class="d-flex hover-theme-1" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg style="width: 20px;height: 20px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 3.202l3.839 4.798h-7.678l3.839-4.798zm0-3.202l-8 10h16l-8-10zm3.839 16l-3.839 4.798-3.839-4.798h7.678zm4.161-2h-16l8 10 8-10z"/></svg>
                    <span class="ml-1">Sort</span>
                </a>

                <div id="sort-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="?">Default</a>
                    <a class="dropdown-item" href="?_sort&column=commentArr&type=-1">Newest</a>
                    <a class="dropdown-item" href="?_sort&column=commentArr&type=1">Oldest</a>
                    <a class="dropdown-item" href="?_match=all&coloumn=updatedAt&type=1">All</a>
                </div>
            </div>
        </div>
    </tools-header>

    <form class="submit-box [ mx-auto ]" onsubmit="return postComment(this);">
        <input type="hidden" name="text">
        <textarea id="trumbowyg-demo" minlength="1" placeholder="Add a public Comment..."></textarea>
        <div class="submit-box__wrapper submit-box--position [ mr-5 ]">
            <a class="submit-box__clear [ mt-3 mr-4 pr-2 btn-less hover-theme-1 ]" data-toggle="tooltip"
                data-placement="top" title="Clear" onclick="return emptyEditor(this);">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M21 6l-3 18h-12l-3-18h2.028l2.666 16h8.611l2.666-16h2.029zm-4.711-4c-.9 0-1.631-1.099-1.631-2h-5.316c0 .901-.73 2-1.631 2h-5.711v2h20v-2h-5.711z" />
                </svg>
            </a>
            <button class="submit-box__submit [ mt-3 btn-less hover-theme-1 ]" data-toggle="tooltip" data-placement="top"
                title="Send" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M0 12l11 3.1 7-8.1-8.156 5.672-4.312-1.202 15.362-7.68-3.974 14.57-3.75-3.339-2.17 2.925v-.769l-2-.56v7.383l4.473-6.031 4.527 4.031 6-22z" />
                </svg>
            </button>
        </div>
    </form>

{{/if}}

<ul class="comments-replies">
    {{#if comments.commentArr}}
        {{#each comments.commentArr}}
        <li class="comments-replies__item [ mt-4 mb-4 ]" id="comments-replies-{{this._id}}">

            <comment class="item item--comment">

                {{> inline/comments-replies-body user=../user comment_id=this._id comment=true}}
                
            </comment>

            <replies class="replies">

                {{#each this.reply}}
                    <reply class="item item--reply" id="reply-{{this._id}}">

                        {{> inline/comments-replies-body user=../../user comment_id=../this._id reply=true}}

                    </reply>
                {{/each}}

            </replies>

        </li>
        {{/each}}
    
        {{!-- More Comment Btn --}}
        {{#if withUIContainer}}
            {{#ifCond comments.maxComment '>=' 10}}
            <tools-footer id="tfooter" class="tfooter" style="display: grid;">
                <a data-page="2" onclick="return fetchMoreComments(this);"
                    class="mx-auto light-red tfooter__btn btn btn-primary default mb-1">
                    More comments
                </a>
            </tools-footer>
            {{/ifCond}}
        {{/if}} {{!-- /More Comment Btn --}}

    {{/if}}
</ul>