@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@font-face {
  font-family: hind;
  font-style: normal;
  font-weight: 400;
  src: url("/font/hind/Hind-Regular.ttf");
  src: local("Hind Regular"), local("Hind-Regular"), url("/font/hind/Hind-Regular.ttf") format("woff");
}
@font-face {
  font-family: hind_m;
  font-style: normal;
  font-weight: 500;
  src: url("/font/hind/Hind-Medium.ttf") format("woff");
  src: local("Hind Regular"), local("Hind-Regular"), url("/font/hind/Hind-Medium.ttf") format("woff");
}
/* color Scheme */
:root {
  --border-color: #d7d7d7;
  --separator-color: #d7d7d7;
  --background-color: #fff;
  --background-color-2: #e5e5e5;
  --foreground-color: #f5f5f5;
  --foreground-color-2: #fff;
  --input-background: #f5f5f5;
  --dark-btn-background: #666;
  --light-btn-background: #fff;
  --button-text-color: #000;
  --button-text-color-2: #f8f9fa;
  --button-text-important: #8d8d8d;
  --button-text-unimportant: #eaeaea;
  --visited-color: #a32337;
  --theme-color-1: #eb3349;
  --theme-color-2: #e7284a;
  --theme-color-3: #fd5d3d;
  --theme-color-4: #843a47;
  --theme-color-5: #d8667a;
  --theme-color-6: #f69682;
  --primary-color: #666;
  --secondary-color: #757575;
  --muted-color: #909090;
  --button-color-1: #5f75ee;
  --button-background-1: #1f2128;
  --gradient-color-1: #612c34;
  --gradient-color-2: #421e24;
  --gradient-color-3: #662b34;
  --lp-bg-color-1: #320209;
  --lp-bg-color-2: #35030b;
  --lp-bg-color-3: #620917;
  --lp-bg-color-4: #700c1b;
}

.dark {
  --border-color: #2b2b2b;
  --separator-color: #424242;
  --background-color: #1b191b;
  --background-color-2: #2f3136;
  --foreground-color: #232223;
  --foreground-color-2: #2b2b2b;
  --input-background: #232223;
  --dark-btn-background: hsl(0, 0%, 100%);
  --dark-btn-background-h: 0;
  --dark-btn-background-s: 0%;
  --dark-btn-background-l: 100%;
  --light-btn-background: #e4e4e4;
  --button-text-color: #d0d0d0;
  --button-text-color-2: #dae0e5;
  --button-text-important: #d0d0d0;
  --button-text-unimportant: #5a5a5a;
  --visited-color: #5a5a5a;
  --theme-color-1: #8f2938;
  --theme-color-2: #aa5e6c;
  --theme-color-3: #a53949;
  --theme-color-4: #843a47;
  --theme-color-5: #9e777e;
  --theme-color-6: #c07a6c;
  --primary-color: #969696;
  --secondary-color: #757575;
  --muted-color: #5a5a5a;
  --gradient-color-1: #612c34;
  --gradient-color-2: #421e24;
  --gradient-color-3: #662b34;
  --lp-bg-color-1: #320209;
  --lp-bg-color-2: #35030b;
  --lp-bg-color-3: #620917;
  --lp-bg-color-4: #700c1b;
  --light: hsl(0, 0%, 100%);
  --light-h: 0;
  --light-s: 0%;
  --light-l: 100%;
}

section {
  font-family: "PT Sans Narrow", Ariel, sans-serif !important;
  font-weight: 300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
}
section *,
section *::before,
section *::after {
  font-family: inherit;
  font-weight: inherit;
  box-sizing: inherit;
}
section:first-child {
  background: #1e1e26;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}

.app-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 100vh;
  padding: 3rem 1rem;
}
.app-loader.light {
  color: #1e1e26;
}
.app-loader.light .app-loader__wisk-handle {
  background: #fff;
}
.app-loader.light .app-loader__bowl {
  background: #fff;
}
.app-loader__text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 0 4rem;
  width: 100%;
}
.app-loader__text span {
  flex: 0 0 auto;
  position: relative;
  animation: flip 10s ease-in infinite;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}
.app-loader__text span:nth-of-type(1) {
  animation-delay: 0ms;
  z-index: 1;
}
.app-loader__text span:nth-of-type(2) {
  animation-delay: 100ms;
  z-index: 2;
}
.app-loader__text span:nth-of-type(3) {
  animation-delay: 200ms;
  z-index: 3;
}
.app-loader__text span:nth-of-type(4) {
  animation-delay: 300ms;
  z-index: 4;
}
.app-loader__text span:nth-of-type(5) {
  animation-delay: 400ms;
  z-index: 5;
}
.app-loader__text span:nth-of-type(6) {
  animation-delay: 500ms;
  z-index: 6;
}
.app-loader__text span:nth-of-type(7) {
  animation-delay: 600ms;
  z-index: 7;
}
.app-loader__text span:nth-of-type(8) {
  animation-delay: 700ms;
  z-index: 8;
}
.app-loader__text span:nth-of-type(9) {
  animation-delay: 800ms;
  z-index: 9;
}
.app-loader__text span:nth-of-type(10) {
  animation-delay: 900ms;
  z-index: 10;
}
.app-loader__text span:nth-of-type(11) {
  animation-delay: 1000ms;
  z-index: 11;
}
.app-loader__text span:nth-of-type(12) {
  animation-delay: 1100ms;
  z-index: 12;
}
.app-loader__text span:nth-of-type(13) {
  animation-delay: 1200ms;
  z-index: 13;
}
.app-loader__text span:nth-of-type(14) {
  animation-delay: 1300ms;
  z-index: 14;
}
.app-loader__text span:nth-of-type(15) {
  animation-delay: 1400ms;
  z-index: 15;
}
.app-loader__text span:nth-of-type(16) {
  animation-delay: 1500ms;
  z-index: 16;
}
.app-loader__text span:nth-of-type(17) {
  animation-delay: 1600ms;
  z-index: 17;
}
.app-loader__text span:nth-of-type(18) {
  animation-delay: 1700ms;
  z-index: 18;
}
.app-loader__text span:nth-of-type(19) {
  animation-delay: 1800ms;
  z-index: 19;
}
.app-loader__text span:nth-of-type(20) {
  animation-delay: 1900ms;
  z-index: 20;
}
.app-loader__text span:nth-of-type(21) {
  animation-delay: 2000ms;
  z-index: 21;
}
.app-loader__text span:nth-of-type(22) {
  animation-delay: 2100ms;
  z-index: 22;
}
.app-loader__text span:nth-of-type(23) {
  animation-delay: 2200ms;
  z-index: 23;
}
.app-loader__text span:nth-of-type(24) {
  animation-delay: 2300ms;
  z-index: 24;
}
.app-loader__text span:nth-of-type(25) {
  animation-delay: 2400ms;
  z-index: 25;
}
.app-loader__text span:nth-of-type(26) {
  animation-delay: 2500ms;
  z-index: 26;
}
.app-loader__text span:nth-of-type(27) {
  animation-delay: 2600ms;
  z-index: 27;
}
.app-loader__text span:nth-of-type(28) {
  animation-delay: 2700ms;
  z-index: 28;
}
.app-loader__text span:nth-of-type(29) {
  animation-delay: 2800ms;
  z-index: 29;
}
.app-loader__text span:nth-of-type(30) {
  animation-delay: 2900ms;
  z-index: 30;
}
.app-loader__text span:nth-of-type(31) {
  animation-delay: 3000ms;
  z-index: 31;
}
.app-loader__text span:nth-of-type(32) {
  animation-delay: 3100ms;
  z-index: 32;
}
.app-loader__text span:nth-of-type(33) {
  animation-delay: 3200ms;
  z-index: 33;
}
.app-loader__text span:nth-of-type(34) {
  animation-delay: 3300ms;
  z-index: 34;
}
.app-loader__text span:nth-of-type(35) {
  animation-delay: 3400ms;
  z-index: 35;
}
.app-loader__text span:nth-of-type(36) {
  animation-delay: 3500ms;
  z-index: 36;
}
.app-loader__text span:nth-of-type(37) {
  animation-delay: 3600ms;
  z-index: 37;
}
.app-loader__text span:nth-of-type(38) {
  animation-delay: 3700ms;
  z-index: 38;
}
.app-loader__text span:nth-of-type(39) {
  animation-delay: 3800ms;
  z-index: 39;
}
.app-loader__text span:nth-of-type(40) {
  animation-delay: 3900ms;
  z-index: 40;
}
.app-loader__text span:nth-of-type(41) {
  animation-delay: 4000ms;
  z-index: 41;
}
.app-loader__text span:nth-of-type(42) {
  animation-delay: 4100ms;
  z-index: 42;
}
.app-loader__text span:nth-of-type(43) {
  animation-delay: 4200ms;
  z-index: 43;
}
.app-loader__text span:nth-of-type(44) {
  animation-delay: 4300ms;
  z-index: 44;
}
.app-loader__text span:nth-of-type(45) {
  animation-delay: 4400ms;
  z-index: 45;
}
.app-loader__text span:nth-of-type(46) {
  animation-delay: 4500ms;
  z-index: 46;
}
.app-loader__text span:nth-of-type(47) {
  animation-delay: 4600ms;
  z-index: 47;
}
.app-loader__text span:nth-of-type(48) {
  animation-delay: 4700ms;
  z-index: 48;
}
.app-loader__text span:nth-of-type(49) {
  animation-delay: 4800ms;
  z-index: 49;
}
.app-loader__text span:nth-of-type(50) {
  animation-delay: 4900ms;
  z-index: 50;
}
.app-loader__text span:nth-of-type(51) {
  animation-delay: 5000ms;
  z-index: 51;
}
.app-loader__text span sup,
.app-loader__text span sub {
  color: currentColor;
  transition: none;
  display: block;
  backface-visibility: hidden;
  font-style: normal;
}
.app-loader__text span sub {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg) scaleX(-1);
  color: #c8102e;
}
.app-loader__text i {
  flex: 0 0 0.75ch;
}
.app-loader__wisk {
  display: flex;
  z-index: 1;
  margin: 0;
  transform-origin: bottom;
  animation: depth 2s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
  transform: translateZ(-1px) scale(0.9, 0.9);
}
.app-loader__wisk-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  animation: length 2s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  transform: translateX(-45%) rotateZ(-10deg) rotateX(-5deg);
}
.app-loader__wisk-handle {
  width: 1.75rem;
  height: 2.75rem;
  border: 0.25rem solid;
  border-radius: 0.25rem;
  background: #1e1e26;
  z-index: 2;
}
.app-loader__wisk-wires {
  position: relative;
  height: 5rem;
  width: 5rem;
  border: 0.25rem solid;
  border-radius: 0% 100% 45% 55%/0% 55% 45% 100%;
  transform: rotate(45deg);
  transform-origin: 50%;
  z-index: 1;
  margin-bottom: -2rem;
}
.app-loader__wisk-wires::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 0% 100% 20% 80%/0% 80% 20% 100%;
  transform: translateX(-50%) scale(0.75);
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  border: 0.25rem solid;
}
.app-loader__bowl {
  height: 4.5rem;
  width: 9rem;
  border: 0.25rem solid;
  border-radius: 0.25rem 0.25rem 3rem 3rem;
  background: #1e1e26;
  z-index: 2;
  transform: translateZ(5px);
}

@keyframes flip {
  0% {
    transform: translateX(0) rotateY(0deg);
  }
  5% {
    transform: translateX(-100%) rotateY(220deg);
  }
  10% {
    transform: translateX(0) rotateY(360deg);
  }
  100% {
    transform: translateX(0) rotateY(360deg);
  }
}
@keyframes depth {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(25%) rotateZ(6deg) rotateX(10deg);
  }
}
@keyframes length {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateZ(2px) scale(1.025, 1.025);
  }
}
/*!-------------Scroll Bars-----------------!*/
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color-1);
}

/*!------------- END Scroll Bars-----------------!*/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin: 0;
}

a:hover {
  color: var(--button-text-color);
}

a {
  font-family: hind_m, sans-serif;
}

body {
  font-family: "Hind", sans-serif;
  color: var(--primary-color);
  background: var(--background-color);
}

.m-all-0 {
  margin: 0;
}

.w-c-35 {
  width: 35%;
}

.w-c-65 {
  width: 65%;
}

.w-c-45 {
  width: 45%;
}

.w-c-55 {
  width: 55%;
}

.border-bottom {
  border-bottom: 1px solid var(--separator-color-light) !important;
}

.d-webkit-box {
  max-height: calc( 2.2em );
  line-height: calc(2.4em / 2);
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.3;
}

h2 {
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.1rem;
  }
}

h3 {
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.15rem;
}
@media (max-width: 767px) {
  h4 {
    font-size: 0.9rem;
  }
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  h6 {
    font-size: 0.8em;
  }
}

a {
  color: var(--primary-color);
  transition: color 200ms;
  outline: initial !important;
}
a:hover, a:active {
  text-decoration: initial;
  color: var(--theme-color-1);
}

.white {
  color: var(--button-text-color) !important;
}

p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-family: "Nunito", sans-serif;
}

/* seperator */
.separator {
  border-bottom: 1px solid var(--separator-color);
  width: 100%;
  margin: 0 auto;
}

.text-large {
  font-size: 1.9rem !important;
}

.text-one {
  font-size: 1rem !important;
}

.text-xlarge {
  font-size: 2.7rem !important;
}

.text-small {
  font-size: 0.86rem !important;
  line-height: 0.9rem !important;
}

.text-white {
  color: var(--button-text-color) !important;
}

.text-zero {
  font-size: 0 !important;
}

.text-extra-small {
  font-size: 0.7rem !important;
}

.text-default {
  color: var(--primary-color) !important;
}

.text-muted {
  color: var(--muted-color) !important;
}

.text-semi-muted {
  color: var(--secondary-color) !important;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

/* 06.Breadcrumb */
@media (max-width: 991px) {
  .breadcrumb-container .breadcrumb {
    padding: 0;
  }
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

.logo {
  width: 110px;
  height: 35px;
  background: url("../img/logo-white.svg") no-repeat;
  background-position: center center;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .logo {
    width: 80px;
  }
}

.logo-mobile {
  width: 20px;
  height: 35px;
  background: url("../img/logo-mobile.svg") no-repeat;
  background-position: center center;
}

.logo__title {
  order: 1;
  margin: 0.2em 0 0 0.5em;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0;
}

/* 02.Buttons */
button {
  color: var(--primary-color);
  outline: initial !important;
}

.btn-arrow {
  display: inline-block;
  text-align: center;
  border-radius: 30px !important;
  width: 42px;
  height: 42px;
  line-height: 24px;
}

.btn-arrow i {
  font-size: 15px;
  display: inline-block;
  text-align: center;
}

.btn-sm.btn-arrow {
  width: 34px;
  height: 34px;
  line-height: 17px;
}

.btn-sm.btn-arrow i {
  font-size: 13px;
  line-height: 10px;
}

.btn {
  border-radius: 50px;
  outline: initial !important;
  box-shadow: none !important;
  box-shadow: initial !important;
  font-size: 0.9rem;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  transition: background-color box-shadow 0.1s linear;
}

.btn-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
  transition: background-color box-shadow 0.1s linear;
}
.btn-shadow:hover, .btn-shadow:focus {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 4px 6px 2px rgba(0, 0, 0, 0.15) !important;
}

.btn-empty {
  background: transparent !important;
}

.btn-lg,
.btn-group-lg > .btn,
.btn-group-sm > .btn {
  border-radius: 50px;
}

.btn.default {
  border-radius: 0.1rem;
}

.btn-primary {
  background-color: var(--theme-color-1);
  border-color: var(--theme-color-1);
  color: var(--button-text-color);
}
.btn-primary:hover {
  color: var(--button-text-color);
  background-color: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 8%));
  border-color: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 8%));
}

.check-button {
  cursor: default !important;
  padding-left: 3rem !important;
  min-height: unset !important;
  line-height: unset !important;
  padding-top: 0.5rem !important;
}
.check-button label.custom-control {
  padding-left: initial;
  min-height: initial;
  vertical-align: top;
  margin-top: -2px;
}
.check-button span {
  line-height: unset;
}

.check-button.btn-primary {
  background-color: var(--theme-color-1) !important;
  border-color: var(--theme-color-1) !important;
  opacity: 1;
}

.check-button .custom-control {
  min-height: 1.1rem;
  margin-top: -7px;
}

.dropdown-menu {
  font-size: 0.8rem;
  border-radius: 0.1rem;
  background: var(--input-background);
  border: 1px solid var(--border-color);
  margin: 0.5rem 0px;
}

.dropdown-item {
  padding: 0.5rem 1.25rem;
  color: var(--primary-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--button-text-color);
  text-decoration: none;
  background-color: var(--theme-color-1);
}

.dropdown-divider {
  border-color: var(--separator-color);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 12%));
  border-color: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 12%));
  color: var(--button-text-color);
}

.btn-secondary {
  background-color: var(--theme-color-2);
  border-color: var(--theme-color-2);
  color: var(--button-text-color);
}
.btn-secondary:hover {
  color: var(--button-text-color);
  background-color: hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 8%));
  border-color: hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 8%));
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 12%));
  border-color: hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 12%));
  color: var(--button-text-color);
}

.btn-primary.btn-primary-gradient {
  background: linear-gradient(to right, var(--theme-color-1), hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 15%)));
}
.btn-primary.btn-primary-gradient:hover {
  background: linear-gradient(to right, var(--theme-color-1), hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 8%)));
}

.btn-primary-gradient:not(:disabled):not(.disabled):active,
.btn-primary-gradient:not(:disabled):not(.disabled).active,
.show > .btn-primary-gradient.dropdown-toggle {
  background: linear-gradient(to right, var(--theme-color-1), hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 15%)));
}

.btn-secondary-gradient {
  background: linear-gradient(to right, var(--theme-color-2), hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 15%)));
}
.btn-secondary-gradient:hover {
  background: linear-gradient(to right, var(--theme-color-2), hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 8%)));
}

.btn-secondary-gradient:not(:disabled):not(.disabled):active,
.btn-secondary-gradient:not(:disabled):not(.disabled).active,
.show > .btn-secondary-gradient.dropdown-toggle {
  background: linear-gradient(to right, var(--theme-color-2), hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 15%)));
}

.btn-warning {
  background-color: #b69329;
  border-color: #b69329;
}

.btn-success,
.btn-info,
.btn-danger,
.btn-warning {
  color: var(--button-text-color);
}
.btn-success:hover,
.btn-info:hover,
.btn-danger:hover,
.btn-warning:hover {
  color: var(--button-text-color);
}

.btn-outline-success:hover,
.btn-outline-info:hover,
.btn-outline-danger:hover,
.btn-outline-warning:hover {
  color: var(--foreground-color);
}

.btn-light {
  color: var(--dark-btn-background);
  background-color: var(--light-btn-background);
  border-color: var(--light-btn-background);
}
.btn-light:hover {
  color: var(--dark-btn-background);
  background-color: hsl(var(--light-btn-background-h), var(--light-btn-background-s), calc(var(--light-btn-background-l) - 8%));
  border-color: hsl(var(--light-btn-background-h), var(--light-btn-background-s), calc(var(--light-btn-background-l) - 8%));
}

.btn-dark {
  color: var(--light-btn-background);
  background-color: var(--dark-btn-background);
  border-color: var(--dark-btn-background);
}
.btn-dark:hover {
  color: var(--light-btn-background);
  background-color: hsl(var(--dark-btn-background-h), var(--dark-btn-background-s), calc(var(--dark-btn-background-l) - 5%));
  border-color: hsl(var(--dark-btn-background-h), var(--dark-btn-background-s), calc(var(--dark-btn-background-l) - 5%));
}

.btn-outline-dark {
  color: var(--dark-btn-background);
  border-color: var(--dark-btn-background);
}
.btn-outline-dark:hover {
  color: var(--foreground-color);
  background-color: var(--dark-btn-background);
  border-color: var(--dark-btn-background);
}

.btn-outline-white {
  color: var(--button-text-color);
  border-color: var(--button-text-color);
  background-color: initial;
}
.btn-outline-white:hover {
  color: var(--theme-color-1);
  background-color: var(--button-text-color);
}

.btn-outline-light {
  color: var(--light-btn-background);
  border-color: var(--light-btn-background);
}
.btn-outline-light:hover {
  color: var(--foreground-color);
  background-color: var(--light-btn-background);
  border-color: var(--light-btn-background);
}

.btn-outline-primary {
  color: var(--theme-color-1);
  border-color: var(--theme-color-1);
}
.btn-outline-primary:hover {
  color: var(--foreground-color);
  background-color: var(--theme-color-1);
  border-color: var(--theme-color-1);
}

.btn-outline-theme-3 {
  background: unset;
  color: var(--theme-color-3);
  border-color: var(--theme-color-3);
}
.btn-outline-theme-3:hover {
  background-color: var(--theme-color-3);
  border-color: var(--theme-color-3);
  color: var(--foreground-color);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--theme-color-1);
  border-color: var(--theme-color-1);
  color: var(--foreground-color);
}

.btn-outline-secondary {
  color: var(--theme-color-2);
  border-color: var(--theme-color-2);
}
.btn-outline-secondary:hover {
  background-color: var(--theme-color-2);
  border-color: var(--theme-color-2);
  color: var(--foreground-color);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: var(--theme-color-2);
  border-color: var(--theme-color-2);
  color: var(--foreground-color);
}

.btn-header-light {
  color: var(--separator-color);
  border-color: transparent;
  background: transparent;
}
.btn-header-light:hover {
  background-color: transparent;
  border-color: var(--separator-color);
}

.btn-header-primary {
  color: var(--theme-color-1);
  border-color: transparent;
  background: transparent;
}
.btn-header-primary:hover {
  background-color: transparent;
  border-color: var(--theme-color-1);
}

.btn-header-secondary {
  color: var(--theme-color-2);
  border-color: transparent;
  background: transparent;
}
.btn-header-secondary:hover {
  background-color: transparent;
  border-color: var(--theme-color-2);
}

.btn-header-primary-light {
  color: var(--theme-color-3);
  border-color: transparent;
  background: transparent;
}
.btn-header-primary-light:hover {
  background-color: transparent;
  border-color: var(--theme-color-3);
}

.btn-xl,
.btn-group-xl > .btn {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 1rem 3.5rem 0.9rem;
}

.btn-lg,
.btn-group-lg > .btn {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.75rem 2.6rem 0.6rem 2.6rem;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.76rem;
  line-height: 1.5;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 0.25rem 1.25rem;
  font-size: 0.76rem;
  line-height: 1.3;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--theme-color-1);
  border-color: var(--theme-color-1);
  color: var(--foreground-color);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: var(--theme-color-2);
  border-color: var(--theme-color-2);
  color: var(--foreground-color);
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-link {
  color: var(--theme-color-1);
  text-decoration: initial !important;
}

.white-underline-link {
  color: var(--button-text-color);
  text-decoration: underline;
}
.white-underline-link:hover, .white-underline-link:active {
  color: var(--button-text-color);
  text-decoration: initial;
}

.btn-link:hover {
  color: rgba(var(--theme-color-1), 0.7);
}

.btn-multiple-state {
  position: relative;
  transition: opacity 500ms;
}
.btn-multiple-state .spinner,
.btn-multiple-state .icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 500ms;
  color: var(--button-text-color);
  pointer-events: none;
}
.btn-multiple-state .icon i {
  vertical-align: text-bottom;
  font-size: 18px;
}
.btn-multiple-state .label {
  transition: opacity 500ms;
}
.btn-multiple-state.show-spinner .label {
  opacity: 0;
}
.btn-multiple-state.show-spinner .spinner {
  opacity: 1;
  visibility: visible;
}
.btn-multiple-state.show-success .label {
  opacity: 0;
}
.btn-multiple-state.show-success .icon.success {
  opacity: 1;
  visibility: visible;
}
.btn-multiple-state.show-fail .label {
  opacity: 0;
}
.btn-multiple-state.show-fail .icon.fail {
  opacity: 1;
  visibility: visible;
}
.btn-multiple-state.btn-primary:disabled {
  opacity: 1;
  background: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 10%));
  border-color: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 10%));
}
.btn-multiple-state.btn-secondary:disabled {
  opacity: 1;
  border-color: hsl(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 10%));
}

.icon-button {
  padding: 0;
  font-size: 14px;
  width: 34px;
  height: 34px;
  line-height: 34px;
}
.icon-button.large {
  width: 44px;
  height: 44px;
  font-size: 18px;
  line-height: 2.5;
}
.icon-button.small-icon {
  font-size: 12px;
  line-height: 32px;
}

.top-right-button-single {
  width: unset;
}
@media (max-width: 991px) {
  .top-right-button-single {
    width: calc(100%);
  }
}

.top-right-button-container {
  float: right;
  position: relative;
}
@media (max-width: 575px) {
  .top-right-button-container {
    float: initial;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 575px) {
  .top-right-button-container .top-right-button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}

/* 17.Cards*/
.card {
  border: initial;
  background: var(--foreground-color);
  border-radius: 0.1rem;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
}
.card .card-header .card-icon {
  right: 5px;
  top: 5px;
}
.card .card-header .card-icon i {
  font-size: 12px;
  color: var(--separator-color);
}
.card .card-header .handle {
  cursor: default;
}
.card .card-body {
  padding: 1.75rem;
}
@media (max-width: 575px) {
  .card .card-body {
    padding: 1.5rem;
  }
}
.card .card-body.sm {
  padding: 1.25rem 1.75rem;
}
.card .card-title {
  margin-bottom: 2rem;
}

.card-img {
  border-radius: calc(0.25rem - 1px);
  height: 100%;
  object-fit: cover;
  max-height: 200px;
  width: unset;
}

.card-img-fluid {
  border-radius: calc(0.25rem - 1px);
  object-fit: cover;
}

.card-img-bottom {
  width: 100%;
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}

.card-img-left {
  max-width: 100%;
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
  height: 100%;
  object-fit: cover;
}

.card-img-right {
  width: 100%;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.75rem;
}
@media (max-width: 575px) {
  .card-img-overlay {
    padding: 1rem;
  }
}

.card-top-buttons {
  padding: 1.3rem;
  right: 0;
  top: 0;
}
@media (max-width: 575px) {
  .card-top-buttons {
    padding: 0.35rem;
  }
}

.card-header {
  border: initial;
  background: initial;
  padding-top: 0;
}

.img-thumbnail {
  border-radius: 0.1rem;
  padding: 0;
  border: initial;
}

.list-thumbnail {
  border-radius: 0.1rem;
  padding: 0;
  border: initial;
  height: auto;
  max-width: unset;
  height: 85px;
  object-fit: cover;
  width: unset;
}
@media (max-width: 991px) {
  .list-thumbnail {
    height: 80px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail {
    height: 70px;
  }
}
@media (max-width: 991px) {
  .list-thumbnail.responsive {
    width: unset;
    height: 135px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail.responsive {
    width: 110px !important;
    height: 100%;
  }
}
@media (max-width: 419px) {
  .list-thumbnail.responsive {
    width: 90px !important;
    height: 100%;
  }
}
.list-thumbnail.small {
  height: 60px;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .list-thumbnail.small {
    height: 55px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail.small {
    height: 50px;
  }
}
.list-thumbnail.xsmall {
  height: 40px;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .list-thumbnail.xsmall {
    height: 40px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail.xsmall {
    height: 40px;
  }
}

.list-thumbnail-letters {
  width: 85px;
  height: 85px;
  background: var(--theme-color-1);
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--button-text-color);
}
@media (max-width: 991px) {
  .list-thumbnail-letters {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail-letters {
    width: 70px;
    height: 70px;
  }
}
.list-thumbnail-letters.small {
  width: 60px;
  height: 60px;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .list-thumbnail-letters.small {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 575px) {
  .list-thumbnail-letters.small {
    width: 50px;
    height: 50px;
  }
}

/* 47.Rounded */
.rounded .alert-primary.animated {
  border-radius: 0.75rem;
}
.rounded .popover,
.rounded .tooltip-inner {
  border-radius: 0.75rem;
}
.rounded .border-radius {
  border-radius: 0.75rem;
}
.rounded .vjs-poster,
.rounded .vjs-tech {
  border-radius: 0.75rem;
}
.rounded .dashboard-top-rated .glide img {
  border-radius: 0.75rem;
}
.rounded .app-menu {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.rounded .sub-menu {
  border-radius: 0 0.75rem 0.75rem 0;
}
.rounded .auth-card .image-side {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
@media (max-width: 991px) {
  .rounded .auth-card .image-side {
    border-bottom-right-radius: initial;
    border-bottom-left-radius: initial;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
}
.rounded .card-img,
.rounded .card-img-fluid,
.rounded .card-img-overlay {
  border-radius: 0.75rem;
}
.rounded.sub-hidden .main-menu, .rounded.menu-sub-hidden .main-menu {
  border-radius: 0 0.75rem 0.75rem 0;
}
.rounded.sub-show-temporary .main-menu {
  border-radius: initial;
}
.rounded .dropdown-menu {
  border-radius: 0.75rem;
}
.rounded .btn.default {
  border-radius: 0.1rem;
}
.rounded .list-thumbnail {
  border-radius: 0.75rem;
}
.rounded .card-img-bottom,
.rounded .card-img-bottom .vjs-poster,
.rounded .card-img-bottom .vjs-tech {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
}
.rounded .card-img-top,
.rounded .card-img-top .vjs-poster,
.rounded .card-img-top .vjs-tech {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}
.rounded .card-img-left {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-top-right-radius: initial !important;
  border-bottom-right-radius: initial !important;
}
.rounded .card-img-right {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-top-left-radius: initial !important;
  border-bottom-left-radius: initial !important;
}
.rounded .card {
  border-radius: 0.75rem;
}
.rounded .card.auth-card {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}
@media (max-width: 991px) {
  .rounded .card.auth-card {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
}
.rounded .invalid-tooltip,
.rounded .valid-tooltip,
.rounded div.error {
  border-radius: 10px;
}
.rounded .data-table-rows table tbody tr {
  border-radius: 0.75rem;
}
.rounded .data-table-rows table td {
  background: var(--foreground-color);
}
.rounded .data-table-rows table td:first-child {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.rounded .data-table-rows table td:last-child {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

/*************** star rating ***************/
.rating {
  display: inline-block;
  text-align: center;
  width: 100% !important;
  color: var(--theme-color-2);
}

.rating a {
  font-size: 1.4rem;
  padding: 0 1px;
  cursor: pointer;
  text-decoration: none;
}

/*************** star rating ***************/
#main-title {
  font-size: 1.4rem;
}

#rightbox {
  margin: 0;
  padding: 0;
}

.infoLeft__img {
  background: var(--foreground-color);
  padding: 1rem;
}

.infoLeft__activities {
  margin: 1.5rem 0;
}
.infoLeft__activities ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.infoLeft__activities .bookmark {
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.9rem;
}
.infoLeft__activities .bookmark--subscribed {
  color: var(--button-text-color);
  background-color: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 8%));
  border-color: hsl(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 8%));
  transition: 0.5s ease-in-out;
}
.infoLeft__activities .bookmark--subscribed .bookmark__text::after {
  content: "Subscribed";
}
.infoLeft__activities .bookmark__text {
  margin-left: 0.3rem;
}
.infoLeft__activities .bookmark__text::after {
  content: "Subscribe";
}

.infoLeft__info {
  background: var(--foreground-color);
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
.infoLeft__info .box {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.infoLeft__info .box__name {
  font-weight: 500;
}
.infoLeft__info .box__value {
  font-weight: 100;
  font-size: 0.8rem;
}
.infoLeft__info .box__value--bold {
  letter-spacing: 0.2em;
}

.group {
  display: flex;
  background: var(--foreground-color);
  margin-top: 1rem;
}
.group__item {
  display: block;
  padding: 1rem 0rem;
  width: 40%;
  text-align: center;
  margin-top: 0.7rem;
}
.group__item span {
  margin-left: 5px;
}
.group__item.fas {
  color: var(--theme-color-1);
  margin-top: 3px;
}
.group__item:nth-child(2) {
  width: 60%;
  margin-left: auto;
  position: relative;
  top: 2px;
}
.group .rate {
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
  font-weight: unset;
  font-family: "hind_m";
}
.group .bar {
  width: 2px;
  height: 21px;
  background: var(--button-text-unimportant);
  vertical-align: middle;
  margin: 1rem;
}

.chapterRight .btnbox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.chapterRight .btnbox__firstChapter, .chapterRight .btnbox__lastChapter {
  display: inline-flex;
  flex-direction: column;
  width: 48%;
  margin: 0px 0.5rem;
  border-radius: 0.5rem;
}
.chapterRight .listbox {
  max-height: 375px;
  overflow: auto;
  margin: 1.75rem;
  padding: 0 1.5rem 0 0;
}
.chapterRight .listbox__chapterbtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  margin-bottom: 0.6em;
  border: 2px solid var(--foreground-color-2);
}
.chapterRight .listbox__chapterbtn .chaptertext {
  font-size: 1rem;
}
.chapterRight .listbox__chapterbtn .date {
  font-size: 0.9rem;
}
.chapterRight .listbox__chapterbtn:hover, .chapterRight .listbox__chapterbtn:focus {
  background: var(--foreground-color-2);
  border: 2px solid var(--foreground-color-2);
  color: var(--theme-color-3);
}

.heart__switch {
  --duration: .45s;
  --stroke: #D1D6EE;
  --stroke-active: #ec4472;
  --fill: #fff;
  --fill-active: #ec638e;
  --shadow: rgba(0, 9, 61, 0.55);
  cursor: pointer;
  position: relative;
  transform: scale(var(--s, 1)) translateZ(0);
  transition: transform 0.2s;
  -webkit-tap-highlight-color: transparent;
}
.heart__switch:active {
  --s: .95;
}

.heart-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  outline: none;
  border: none;
  pointer-events: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 3px 12px 0 var(--shadow);
}
.heart-check + svg {
  width: 36px;
  height: 25px;
  fill: var(--fill);
  stroke: var(--stroke);
  stroke-width: 1px;
  stroke-linejoin: round;
  display: block;
  transition: stroke var(--duration), fill var(--duration);
}
.heart-check:not(:checked) {
  animation: uncheck var(--duration) linear forwards;
}
.heart-check:checked {
  animation: check var(--duration) linear forwards;
}
.heart-check:checked + svg {
  --fill: var(--fill-active);
  --stroke: var(--stroke-active);
}

@keyframes uncheck {
  0% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  75% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes check {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  100% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
}
.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
  display: block;
  height: 28px;
}

.twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
.twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}

@media (max-width: 992px) {
  #resize {
    padding: 2rem;
  }

  .col-left {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .infoLeft__title {
    display: none;
  }
}
@media (max-width: 768px) {
  #resize {
    position: absolute;
    top: 188px;
    left: 0;
    right: 0;
  }
  #resize .breadcrumb-container {
    display: none;
  }
  #resize .separator {
    display: none;
  }

  .cover {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .infoLeft__img {
    margin: 0 auto;
    padding: 0.4rem;
  }

  .infoLeft__title {
    text-align: center;
    margin: 1.1rem 0;
    color: var(--button-text-color);
  }

  .infoLeft__activities {
    margin: 1.5rem 0;
  }
  .infoLeft__activities .heart {
    width: 100%;
    justify-content: space-between;
  }
  .infoLeft__activities .heart:nth-child(2) {
    display: none;
  }
  .infoLeft__activities .bookmark {
    padding: 0.6rem;
  }

  .infoRight__body #main-title {
    display: none;
  }
  .infoRight__body #sub-title {
    display: none;
  }
}
comment-thread-renderer:target {
  animation: textColor 5s ease;
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  16% {
    color: #0fffc1;
  }
  32% {
    color: #7e0fff;
  }
  48% {
    color: #b37bf3;
  }
  64% {
    color: #a59ead;
  }
  100% {
    color: var(--primary-color);
  }
}

.comment-thread-renderer {
  display: block;
}

#theader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
#theader .title__counter {
  position: relative;
  top: -1px;
  padding: 0 0.4rem;
}
#theader .sort-menu {
  display: flex;
  margin-right: 1rem;
}
#theader .sort-menu .sort-icon::after {
  font-style: normal;
  font-family: "Font Awesome 5 Pro";
  content: "";
  margin: 0.3rem;
}

#tfooter {
  display: block;
  text-align: center;
}
#tfooter .tfooter__btn {
  width: 50%;
}

#commentbox {
  padding: 1rem 1.5rem;
  background: var(--foreground-color);
  border-radius: 0.5rem;
}

#commentcontainer {
  display: block;
}

.comment__body {
  display: flex;
  flex-direction: row;
}
.comment__body--center {
  align-items: center;
}
.comment__form {
  margin: 1rem 1rem 0rem 1rem;
  width: 100%;
}

.author-thumbnail img {
  border-radius: 50%;
  margin-top: 1.5rem;
}
.author-thumbnail--small img {
  width: 30px;
  height: 30px;
  margin-top: 1.5rem;
}

.replies #body {
  margin-bottom: unset;
}

#body {
  margin-bottom: 2rem;
}
#body .main {
  position: relative;
  background: var(--foreground-color-2);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0 1rem;
}
#body .main .header {
  display: flex;
  align-items: center;
}
#body .main .header__author {
  margin: 0.2rem 0.4rem;
  font-size: 1rem;
}
#body .main .header__timer {
  margin: 0 0.4rem;
  text-decoration: underline;
}
#body .main .content__text {
  font-size: 1rem;
  margin: 0 0.4rem;
}
#body .main .toolbar {
  display: flex;
}
#body .main .toolbar > * {
  margin: 0.7rem 0.5rem 0 0.5rem;
}

#simplebox #main {
  background: unset;
}

#commentForm label {
  margin-bottom: 0;
}

.replies .expander {
  margin: 0.6rem 0.5rem 0 0.5rem;
  display: block;
  cursor: pointer;
}
.replies .expander div {
  color: #2196f3;
}
.replies .expander div .expander__text {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.expander__content {
  display: block;
  margin-left: 4rem;
  margin-top: -0.5rem;
}

.buttonbox {
  display: none;
  justify-content: flex-end;
  margin-top: -0.5rem;
}
.buttonbox__clearbtn {
  background: unset;
}
.buttonbox__clearbtn:hover, .buttonbox__clearbtn:focus {
  background-color: #282828;
}
.buttonbox--flex {
  display: flex;
}
.buttonbox--none {
  display: none;
}

.comment__form form label {
  width: 100%;
}
.comment__form form .form-group {
  margin-bottom: unset;
}

.main:hover .action-menu-renderer, .main:focus .action-menu-renderer {
  display: block;
}

.action-menu-renderer {
  display: none;
}
.action-menu-renderer .menu {
  position: absolute;
}
.action-menu-renderer .menu--style {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}
.action-menu-renderer .menu:hover, .action-menu-renderer .menu:focus, .action-menu-renderer .menu:active {
  color: var(--button-text-important);
}

.expander__content--hide {
  display: none;
}
.expander__content--show {
  display: block;
}

.customFlexbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.labelFlex {
  width: 100%;
  /*max-width: 30em;*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.customInput {
  transition-property: all;
  transition-duration: 1s;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 300;
  display: block;
  margin: 0;
  border: none;
  padding: 0.5em 0;
  line-height: 1;
  transition: border-color 0.2s;
  padding: 10px;
  background: var(--input-background);
}
.customInput:focus {
  border-color: var(--primary-color);
  outline: none;
}
.customInput:focus + .icon {
  stroke-dasharray: 28.284, 20;
  stroke-dashoffset: 0;
}

.icon {
  width: 1rem;
  order: -1;
  transition: all 0.2s;
  stroke-dasharray: 0, 20;
  stroke-dashoffset: -14.142;
}
.icon path {
  stroke: var(--primary-color);
  stroke-width: 1px;
  fill: none;
}

.line {
  width: 100%;
  height: 1px;
  stroke: var(--button-text-unimportant);
  stroke-width: 2px;
  top: -13px;
  position: relative;
}
.line .focus, .line .valid, .line .invalid {
  transition: all 0.2s;
  stroke-dasharray: 0, 20;
  stroke-dashoffset: -20;
}
.line .focus {
  stroke: var(--light-btn-background);
}
.line .valid {
  stroke: #1daf8d;
}
.line .invalid {
  stroke: #dc3848;
}

.customInput:focus ~ .line .focus,
.customInput:valid ~ .line .valid,
.customInput[data-touched]:invalid ~ .line .invalid {
  stroke-dasharray: 40, 0;
  stroke-dashoffset: 0;
}

.form-control:focus ~ .line .focus,
.form-control:valid ~ .line .valid,
.form-control[data-touched]:invalid ~ .line .invalid {
  stroke-dasharray: 40, 0;
  stroke-dashoffset: 0;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.checkbox-group > * {
  margin: 0.5rem 0.5rem;
}

.custom-input {
  background: none;
  border: none;
}

.custom-input:focus {
  color: unset;
  border-color: unset;
  background-color: unset;
  box-shadow: unset;
}

#chapterNavbar {
  display: flex;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  background: var(--foreground-color-2);
  color: var(--dark-btn-background);
  border-bottom: 1px solid var(--button-text-unimportant);
}
#chapterNavbar #left-items {
  width: 45%;
  display: flex;
  align-items: center;
  margin: auto 0.5rem;
}
#chapterNavbar #left-items .navbar-logo {
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
#chapterNavbar #left-items .title {
  color: var(--dark-btn-background);
  max-width: 50%;
  font-size: 1rem;
  font-weight: unset;
  margin: 3px 0.5rem;
  cursor: pointer;
}
#chapterNavbar #left-items .title--ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#chapterNavbar #left-items .title:hover {
  color: var(--theme-color-2);
}
#chapterNavbar #left-items .ico {
  padding: 3px 0 0 0;
  position: relative;
  top: -3px;
}
#chapterNavbar #left-items .m-custom {
  margin: 0 0.5rem;
}
#chapterNavbar #mid-items {
  display: flex;
  align-items: center;
}
#chapterNavbar #mid-items select:focus {
  box-shadow: unset !important;
}
#chapterNavbar #mid-items .custom-select {
  color: var(--dark-btn-background);
  background: var(--foreground-color-2);
  border: unset;
  padding: 0 1rem;
}
#chapterNavbar #mid-items .fad {
  --fa-primary-color: var(--dark-btn-background);
  --fa-secondary-color: var(--background-color);
  --fa-secondary-opacity: 1.0;
  border: 1px solid var(--foreground-color-2);
}
#chapterNavbar #mid-items .fad:hover {
  --fa-primary-color: var(--btn-);
  --fa-primary-opacity: 1.0;
  --fa-secondary-color: var(--foreground-color-2);
  border: 1px solid var(--theme-color-3);
}
#chapterNavbar #right-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#breadcrumbContainer {
  display: none;
}

#prev-chaptercard {
  display: flex;
  background: var(--foreground-color-2);
  height: 100px;
  border: 1px solid var(--button-text-unimportant);
  color: var(--button-text-color);
}
#prev-chaptercard img {
  border-radius: unset;
}
#prev-chaptercard #info {
  margin: auto 1.5rem;
}
#prev-chaptercard #info .maintext {
  font-weight: 600;
  font-size: 1rem;
}
#prev-chaptercard #right-icon {
  display: flex;
  font-size: 1.5rem;
  margin: auto 2em auto auto;
  color: var(--primary-color);
  transition: color 0.5s;
}
#prev-chaptercard:hover {
  background: var(--background-color);
  border: 1px solid var(--button-text-important);
  transition: all 0.5s;
}
#prev-chaptercard:hover #right-icon {
  color: var(--button-text-important);
}

@media (max-width: 992px) {
  #chapterNavbar {
    justify-content: space-between;
  }
  #chapterNavbar #left-items {
    width: 70%;
  }
  #chapterNavbar #right-items {
    display: none;
  }
}
@media (max-width: 768px) {
  #chapterNavbar #left-items .title--ellipsis {
    display: none;
  }
  #chapterNavbar #left-items .ico {
    display: none;
  }

  #breadcrumbContainer {
    display: block;
  }
}
@media (max-width: 576px) {
  .breadcontainer {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}
#chapterSelector {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}
#chapterSelector #select {
  background-color: var(--foreground-color-2);
  color: var(--primary-color);
  border: unset;
  width: 40%;
}
#chapterSelector #btn-container {
  display: flex;
}
#chapterSelector #btn-container .btn--style {
  margin: 0 1rem;
}
#chapterSelector #btn-container .btn__icon {
  position: relative;
  margin: 0 0.2rem;
  font-size: 1rem;
  top: 1px;
}