<navbar id="navbar">
    <desktop-nav>
        <a class="navbar-logo d-flex" href="/">
            <span class="logo d-none d-xs-block"></span>
            {{!-- <h1 class="logo__title">Dore</h1> --}}
            <span class="logo-mobile d-block d-xs-none"></span>
        </a>
        <ul>
            <li><a href="/comic/popular">Popular</a></li>
            <li><a href="/comic/categories/all">Categories</a></li>
            <li><a href="/comic/bookmark">bookmark</a></li>
            <li><a href="/comic/history">History</a></li>
        </ul>
    </desktop-nav>
    <right class="right">
        <search-places>
            <input type="text" class="search-input" placeholder="Search..." style="display: none;">
            <i id="search-icon" class="search-icon fas fa-search"></i>
            <search-output id="search-output" class="search-output" style="display: none;">
    
                <!-- item Here -->
                <loader-box class="loader-box" style="display: none;">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </loader-box>
            </search-output>
        </search-places>
        {{> theme-switcher}}
    
        {{#unless user}}
        <div class="hotkeyright">
            <a href="/users/login" type="button" class="btn btn-background mb-1">Log in</a>
            <a href="/users/register" type="button" class="btn btn-outline mb-1">Sign up</a>
        </div>
        {{else}}
        <div class="hotkeyright">
            <a href="/users/logout" type="button" class="btn btn-background mb-1">Log out</a>
        </div>
        {{/unless}}
    </right>
    <mobile-nav>
        <top-info>
            {{!-- <a class="navbar-logo d-flex" href="/">
                <span class="logo d-none d-xs-block"></span>
                <h1 class="logo__title">Dore</h1>
                <span class="logo-mobile d-block d-xs-none"></span>
            </a> --}}
            <h1>  </h1>
            
        </top-info>
        <bot-info>
            <ul>
                <a href=".">
                    <i class="fas fa-home"></i>
                </a>
                <a href="">
                    <i class="far fa-image"></i>
                </a>
                <a href="">
                    <i class="far fa-user"></i>
                </a>
                <a href="">
                    <i class="far fa-bookmark"></i>
                </a>
                <a href="">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </ul>
        </bot-info>
    </mobile-nav>
</navbar>