// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// @import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500&display=swap');

@font-face {
  font-family: hind;
  font-style: normal;
  font-weight: 400;
  src: url('/font/hind/Hind-Regular.ttf');
  src: local("Hind Regular"),local("Hind-Regular"),url('/font/hind/Hind-Regular.ttf') format("woff")
}

@font-face {
  font-family: hind_m;
  font-style: normal;
  font-weight: 500;
  src: url('/font/hind/Hind-Medium.ttf') format("woff");
  src: local("Hind Regular"),local("Hind-Regular"),url('/font/hind/Hind-Medium.ttf') format("woff")
}

// @font-face {
//   font-family: 'POPPINSVN';
//   src: url('/font/PoppinsVN/PoppinsVN-500.woff2') format('woff2');
// }

@import "./mixins";
@import "./themes/dark.red.scss";
// @import "./loader/loader.scss";


/*!-------------Scroll Bars-----------------!*/
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color-1);
}/*!------------- END Scroll Bars-----------------!*/


// //utility css
@import "./utility/micellenous.scss";
// @import "./utility/utility.scss";
// @import "./utility/comic-info.scss";
// @import "./utility/badges.scss";
// @import "./utility/theme-switcher.scss";

// // vendor css
// @import "./vendorsass/navbar.scss";
// @import "./vendorsass/glider.scss";
@import "./vendorsass/button.scss";
// @import "./vendorsass/badge.scss";
@import "./vendorsass/cards.scss";
// @import "./vendorsass/pagination.scss";


// my css
// @import "./home.page/top-displayer.scss";
// @import "./home.page/categories-nav.scss";
// @import "./home.page/bookmark-places.scss";
// @import "./home.page/categories-content.scss";
// @import "./home.page/welcome-places.scss";
// @import "./home.page/comics-gridbox.scss";
// @import "./home.page/navbar.scss";


// @import "./categoriesPage/categories.scss";
// @import "./categoriesPage/items.scss";

// @import "./home.page/first-slider.scss";
// @import "./home.page/sub-navbar.scss";
// @import "./home.page/rightcol-widget.scss";
// @import "./home.page/leftcol-widget.scss";
// @import "./home.page/leftcol-cardnav.scss";
// @import "./home.page//leftcol-card.scss";
// @import "./home.page/media-querry.scss";

@import "./comic.details.page/info.scss";
@import "./comic.details.page/comments.scss";

@import "./chapter.details.page/navbar.scss";