<!DOCTYPE html>
<html lang="vi">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <title>Document</title>
    {{!-- FontAweSome cdn --}}
    {{!-- <link rel="stylesheet" href="font/fontawesome-pro-5.0.13/css/all.css"> --}}
    {{!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> --}}
    {{!-- Bootstrap cdn --}}
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
    
    
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700" as="font">
    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="/dist/css/combined-ab0fb6d7ed.css">

   
    
</head>

<body>
    <div class="app">

        {{> adminHeader}} 

        
            {{{body}}}
       

        {{> adminFooter}}
    </div>

    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/dist/js/combined-b541e65b7e.js"></script>
</body>

</html>
