<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <title>Document</title>
    {{!-- preconnect --}}
    <link rel="preconnect" href="https://s3.eu-central-1.wasabisys.com">
    {{!-- FontAweSome cdn --}}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {{!-- Bootstrap cdn --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- Font --}}
    <link rel="preload" as="font"href="/font/hind/Hind-Regular.ttf"  type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="/font/hind/Hind-Medium.ttf" type="font/woff" crossorigin="anonymous">
    {{!-- vendor css --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/comic.details.min.css">
    
</head>

<body >

    {{!-- <div id="loader">
        <section>
            <div class="app-loader dark">
                <h1 class="app-loader__text">
                    <span><sup>S</sup><sub>S</sub></span><span><sup>t</sup><sub>t</sub></span><span><sup>i</sup><sub>i</sub></span><span><sup>r</sup><sub>r</sub></span><span><sup>r</sup><sub>r</sub></span><span><sup>i</sup><sub>i</sub></span><span><sup>n</sup><sub>n</sub></span><span><sup>g</sup><sub>g</sub></span><i></i><span><sup>U</sup><sub>U</sub></span><span><sup>p</sup><sub>p</sub></span><i></i><span><sup>S</sup><sub>S</sub></span><span><sup>o</sup><sub>o</sub></span><span><sup>m</sup><sub>m</sub></span><span><sup>e</sup><sub>e</sub></span><i></i><span><sup>R</sup><sub>R</sub></span><span><sup>e</sup><sub>e</sub></span><span><sup>s</sup><sub>s</sub></span><span><sup>u</sup><sub>u</sub></span><span><sup>l</sup><sub>l</sub></span><span><sup>t</sup><sub>t</sub></span><span><sup>s</sup><sub>s</sub></span><span><sup>.</sup><sub>.</sub></span><span><sup>.</sup><sub>.</sub></span><span><sup>.</sup><sub>.</sub></span>
                </h1>
                <div class="app-loader__wisk">
                    <div class="app-loader__wisk-inner">
                        <div class="app-loader__wisk-handle"></div>
                        <div class="app-loader__wisk-wires"></div>
                    </div>
                </div>
                <div class="app-loader__bowl"></div>
            </div>
        </section>
    </div> --}}
        <header>
            {{> homeHeader}}
        </header>

        <main>
            <article itemscope itemtype="http://schema.org/Article">
                {{{body}}}  
            </article>
        </main>
        
        <footer>
            {{> homeFooter}}
        </footer>

    {{!-- JS cdn --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/glide.min.js"></script> --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script> --}}
    {{!-- custom js --}}
    <script src="/js/vendor/theme-switcher.js"></script>
    <script src="/js/CustomScript.js"></script>
    <script src="/js/vendor/stars.js"></script>
    <script src="/js/comic.details.js" defer></script>

</body>
</html>