#comics-gridbox {
    min-height: 500px;
    display: flex !important;
    flex-direction: row;
    padding: 3rem 3rem 3rem 6rem;
    intro-container {
        margin: 1rem auto;

        h2 {
            color: var(--theme-color-2);
            font-size: 2.4rem;
            line-height: 2.5rem;
            font-weight: 600;
            display: block;
            span {
                display: block;
            }
        }
        p {
            top: 11px;
            left: 5px;
            position: relative;
            display: block;
            font-size: 1rem;
            line-height: 1.6;
            padding-right: 0.5rem;
        }
        btn-intro {
            display: inline-block;
            padding: 0.7rem 1.3rem;
            border-radius: 2rem;
            margin-top: 2.2rem;
            margin-left: 0.4rem;
            cursor: pointer;
            background: var(--theme-color-1);
            color: var(--button-text-color);
        }
    }

    grid-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem auto;
        max-width: calc(160px * 5 + (1rem * (5 - 1)) );

        // grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
        // grid-auto-rows: 160px;

        grid-comic-item:hover {
            background-overlay {
                opacity: 0;
            }
            comic-info {
                opacity: 0;
                transition: 0.3s;
            }
        }
        grid-comic-item  {
            /* grid__item */
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 160px;
            height: 160px;
            margin-left: 0.5rem;
            margin-top: 0.5rem !important;

            img {
                object-fit: cover;
                object-position: top;
            }
            
        }
    }
    .card-tall {
        grid-row: span 2 / auto;

        img {
            width: 160px;
            height: calc(160px * 2 + 1rem);
        }
        background-overlay {
            height: calc(200% + 1rem);
        }
    }
    .card-wide {
        grid-column: span 2 / auto;

        img {
            width: calc(160px * 2 + 1rem);
            height: 160px;
        }
        background-overlay {
            width: calc(200% + 1rem);
        }
        comic-info {
            width: calc(200% + 1rem);
        }
    }
}


@media (max-width: 1200px) {
    #comics-gridbox {
        padding: 3rem 1rem 3rem 2rem;
        grid-container {
            max-width: calc(160px * 4 + (1rem * (4 - 1)) );
        }
    }
}
@media (max-width: 1100px) {
    #comics-gridbox {
        grid-container {
            max-width: calc(160px * 3 + (1rem * (3 - 1)) );

            grid-comic-item:nth-child(n+7) {
                display: none;
            }
        }
    }
}
@media (max-width: 916px) {
    #comics-gridbox {
        padding: 3rem 0 3rem 0;
        flex-direction: column;

        grid-container {
            max-width: calc(160px * 4 + (1rem * (4 - 1)) );

            grid-comic-item:nth-child(n+7) {
                display: unset;
            }
            grid-comic-item:nth-child(n+9) {
                display: none ;
            }
        }
        intro-container {
            width: 100%;
            h2 {
                text-align: center;
                span {
                    display: inline;
                }
            }
            p {
                display: none;
            }
            btn-intro {
                display: none;
            }
        }
    }
}
@media (max-width: 740px) {
    #comics-gridbox {
        grid-container {
            max-width: calc(160px * 3 + (1rem * (3 - 1)) );

        }
    }
}
@media (max-width: 576px) {
    #comics-gridbox {
        grid-container {
            max-width: calc(160px * 3 + (1rem * (3 - 1)) );
            grid-comic-item {
                width: 130px;
                height: 130px;
                align-self: center;
                margin-top: 1rem !important;
                img {
                    width: 130px; 
                    height: 130px;
                }
            }
        }
    }
    comic-info {
        .title {
            font-size: 1rem;
        }
        grade {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 450px) {
    #comics-gridbox {
        grid-container {
            max-width: calc(160px * 2 + (1rem * (2 - 1)) );
        }
    }
}