#navbar {
    position: relative;
    background: var(--background-color);
    height: 100px;
    display: block;

    mobile-nav { display: none; }
    desktop-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 2rem;
    }
    
    .logo, .logo-mobile {
        height: 50px;
        width: 50px;
    }
    
    .btn {
        margin-right: 1.2rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        font-size: 1.2rem;
        font-family: 'hind_m';
        text-transform: uppercase;

        a {
            margin: 0;
            padding: 0;
        }
        a:hover { li { color: var(--theme-color-2); } }

        li {
            margin: 0px 1rem;
            color: var(--button-text-color);
        }
    }
    
    .right {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2rem;
        margin-right: 1.5rem;
        margin-left: auto;
        display: flex;
        align-items: center;

        .btn-background {
            background: var(--dark-btn-background);
            border: 2px solid var(--dark-btn-background);
            color: var(--background-color);
            border-radius: 1rem;

            &:hover {
                border: 2px solid var(--dark-btn-background);
                color: var(--dark-btn-background);
                background: var(--background-color);
            }
        }
        
        .btn-outline {
            border: 2px solid var(--dark-btn-background);
            color: var(--dark-btn-background);
            border-radius: 1rem;

            &:hover {
                background: var(--dark-btn-background);
                color: var(--background-color);
            }
        }

        .btn {
            font-size: 0.9rem;
            margin-right: 0.5rem;
            padding: 0.3rem 1.6rem;
        }
    }
}
.hotkeyright {
    display: flex;
    flex-direction: row;
}
search-places {
    position: relative;
    display: flex;
    align-items: center;
    .fa-search:hover { color: var(--theme-color-2); }
    .fa-search {
        font-size: 1.3rem;
        color: var(--button-text-color);
        cursor: pointer;
        height: 1.9rem;
        display: flex;
        align-items: center;

        &::after {
            display: inline-block;
            width: 1px;
            height: 1.1rem;
            margin-left: 25px;
            background: #d6d6d6;
            content: "";
        }
    }

    input {
        position: relative;
        border: initial;
        background: transparent;
        outline: initial !important;
        font-size: 0.8rem;
        width: 300px;
        color: var(--primary-color);
        padding: 0 1rem 0.5rem 1rem;
        line-height: 2;
        border-bottom: 1px solid var(--button-text-unimportant);
        margin: 0 1rem;
        }
}
search-output {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 62px;
    z-index: 100;
    overflow: auto;
    width: 300px;
    max-height: calc(66px * 5);
    background: var(--foreground-color-2);
    left-over {
        
        a {
            display: block;
            background: var(--foreground-color);
            font-size: 1rem;
            font-family: 'hind_m';
            text-align: center;
            padding: 1rem;
        }
    }
    item {
        display: flex;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--button-text-unimportant);
        padding: 0.7rem;
    }
    empty {
        padding: 0.7rem;
        color: var(--theme-color-2);
        font-family: 'hind_m';
        text-align: center;
        &:hover {
            color: var(--theme-color-6);
        }
    }
    img {
        object-fit: cover;
    }
    .info {
        width: 80%;
        display: inline-flex;
        flex-direction: column;
        &__title {
            display: inline;
            padding: 0 0 0 0.6rem;
            text-transform: capitalize;
        }
        &__chapter {
            a{display: block; }
            cursor: pointer;
            padding: 0 0 0 0.6rem;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: var(--theme-color-2);
    
            &:hover {
                color: var(--theme-color-6);
            }
        }
    }
    //Loader
    loader-box {
        display: flex;
        justify-content: center;
    }
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(24px, 0);
        }
      }
}
@media (max-width: 1200px) {
    #navbar {
        height: 132px;
        desktop-nav {
            display: none;
        }
        
        .right {
            margin-top: 1.3rem;
        }
        .hotkeyright {
            display: none;
        }

        search-places input {
            width: 40vw;
        }


        mobile-nav {
            display: flex;
            flex-direction: column;
            top-info {
                padding: 0.9rem 1rem 0.7rem 0;
                display: flex;
                flex-direction: row;
            }
            h1 {
                background: url('/img/logo_dore_v2.png');
                -webkit-background-size: 150px 57px;
                background-size: 150px 57px;
                width: 150px;
                height: 47px;
            }
            
            ul a {
                padding: 0;
                font-size: 1.7rem;
                width: 20%;
                text-align: center;
            }
        }
        
    }
    search-output {
        width: 40vw;
        top: 42px;
    }
}